{% extends 'navigation.html' %}
{% block body %}

<center><h2 style="color:red;margin-top:2%">View sales</h2></center><hr>
<form method="post">
    {% csrf_token %}
 <label for="fromDate">From date:</label> 
 <input type="date" id="fromDate" name="fromDate"> 
 <label for="toDate">To date:</label> 
 <input type="date" id="toDate" name="toDate"> 
 <input type="submit" value="Search">
 </form>    
<div class="container" style="margin-top:5%">
</div>
 <div class="container">
<table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>Sr. No</th>
    <th>Booking ID</th>
    <th>Booking Date</th>
    <th>Quantity</th>
    <th>Total</th>
      
  </tr>
  </thead>
   <tbody>

{% for i in book %}

  <tr>
      <td>{{forloop.counter}}</td>
    <td>{{i.booking_id}}</td>
    <td>{{i.book_date}}</td>
      <td>{{i.quantity}}</td>
      <td>{{i.total}}</td>
      
  </tr>
   {% endfor %}

    </tbody>
</table>

 </div>

<script>
            var el_up = document.getElementById("GFG_UP");

            el_up.innerHTML =
                "Click on the LINK for further confirmation.";
        </script>
{% endblock %}
